@mixin check-mark($w: 5px, $h: 12px, $borderWidth: 1px, $color: #fff) {
  display: inline-block;
  transform: rotate(45deg);
  height: $h;
  width: $w;
  border-bottom: $borderWidth solid $color;
  border-right: $borderWidth solid $color;
}

@mixin hover {
  @media not all and (hover: none) {
    @content;
  }
}
