.Container {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--ifm-container-width);
  padding: 8rem 0 22rem 0;
  transition: padding 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.AstronautImage {
  position: absolute;
  right: 0;
  width: 45%;
  max-width: 800px;
  opacity: 1;
}

.HeaderTitle {
  color: var(--ifm-navbar-link-color);
  font-size: var(--ifm-font-size-64);
  font-weight: bold;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.SeparatorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SeparatorLeft {
  background-color: var(--ifm-navbar-link-active-color);
  width: 20px;
  height: 2px;
}

.SeparatorText {
  color: var(--ifm-navbar-link-active-color);
  font-size: var(--ifm-font-size-20);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 7px;
}

.SeparatorRight {
  background-color: var(--ifm-navbar-link-active-color);
  width: 220px;
  height: 2px;
}

.DescriptionText {
  color: var(--ifm-color-primary-lightest);
  font-size: var(--ifm-font-size-24);
  max-width: 400px;
  margin: 15px 0;

  transition: font-size 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
}

.GithubButton {
  width: 200px;
}

.GetStartedButton {
  width: 200px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .Container {
    padding: 8rem 0 0 0;
    justify-content: center;
    text-align: center;
  }

  .HeaderTitle {
    font-size: var(--ifm-font-size-40);
  }

  .HeaderTyper {
    justify-content: center;
  }

  .SeparatorText {
    width: 100%;
  }

  .SeparatorRight {
    width: 100%;
  }

  .SeparatorLeft {
    width: 100%;
  }

  .DescriptionText {
    font-size: var(--ifm-font-size-20);
  }

  .ButtonContainer {
    flex-direction: column;
    align-items: center;
  }

  .GetStartedButton {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 2rem 0 5rem 0 !important;
  }
}
