.rplayer_ad {
  &_liner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    z-index: 10;

    & > div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    video {
      width: 100%;
      max-height: 100%;
    }
  }
}
