.nplayer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  color: #fff;
  z-index: auto;
  user-select: none;

  &_icon {
    width: 28px;
    height: 28px;
    fill: #fff;
  }

  &_spacer {
    flex: 1;
  }

  &-web-full {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
  }
  
}
