.Container {
  background-color: var(--ifm-color-background-2);
  transform: skewY(3deg);
  padding: 8rem 0;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 0 5rem;
  transform: skewY(-3deg);

  transition: padding 100ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.Tagline {
  margin: 10px;
  font-size: var(--ifm-font-size-14);
  color: var(--ifm-color-on-background-2);
}

.Title {
  margin-bottom: 30px;
  font-size: var(--ifm-font-size-36);
  color: var(--ifm-color-on-background);
  font-weight: bold;
}

.LearnMoreBtn {
  margin: 0 auto;
  width: 200px;
  margin-top: 50px;
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}

@media screen and (max-width: 997px) {
  .Content {
    padding: 0 !important;
  }
}
