@import './variables';
@import './mixins';

:root {
  --rplayer-primary: #{$color-primary};
  --rplayer-switch: #{$color-green};
}

.rplayer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', 'Microsoft YaHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-white;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  [hidden] {
    display: none !important;
  }

  video {
    -ms-flex: 1;
    max-width: 100%;
  }

  svg {
    width: $size-action-icon;
    height: $size-action-icon;
    fill: $color-white;
  }

  &-full {
    width: 100%;
    video {
      width: 100%;
    }
  }

  &-loading &_loading {
    display: block;
  }

  &_loading {
    display: none;
    z-index: 2;

    div {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70px;
      height: 70px;
      border: 6px solid transparent;
      border-top-color: $color-white;
      border-radius: 50%;
      animation: rplayer-loading 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    }
    div:nth-child(1) {
      background: rgba(0,0,0,0.15);
      animation-delay: -.45s;
    }
    div:nth-child(2) {
      animation-delay: -.3s;
    }
    div:nth-child(3) {
      animation-delay: -.15s;
    }
  }

  &_ctrl {

    &-hide {
      cursor: none;
    }

    &-hide &_bottom, &-hide &_bottom_mask {
      opacity: 0;
    }

    &_mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &_bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $size-bottom-padding;
      transition: opacity .2s ease;
      user-select: none;

      &_mask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: $size-bottom-mask-top;
        min-height: 55px;
        background: $color-bg-bottom-mask;
        pointer-events: none;
        transition: opacity .2s ease;
      }

      &_trays {
        display: flex;
        align-items: center;

        & > * {
          margin-left: $size-action-gap;
        }

        & > :first-child {
          margin-left: 0;
        }
      }
    }

    &_menu {
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px 0;
      font-size: 12px;
      border-radius: $size-popup-radius;
      background: $color-bg-popup;
      z-index: 2;
  
      &_item {
        display: flex;
        align-items: center;
        padding: 5px 8px;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;

        &_i {
          width: 12px !important;
          height: 12px !important;
          margin-right: 5px;
        }

        & > :nth-child(2) {
          margin-right: auto;
        }
  
        &:hover {
          background: $color-bg-popup-item-hover;
        }

        &::after {
          content: '';
          opacity: 0;
          display: block;
          height: 5px;
          width: 10px;
          border: 1px solid $color-white;
          border-top-color: transparent;
          border-right-color: transparent;
          margin-left: 10px;
          margin-top: -3px;
          transform: rotate(-45deg);
        }

        &-checked {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &_bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: 0 0;
  }

  &_dot {
    position: absolute;
    left: $size-dot / -2;
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      width: $size-dot;
      height: $size-dot;
      border-radius: 50%;
      background: $color-primary;
      background: var(--rplayer-primary);
      transform: scale(0);
      transition: transform .15s ease;
    }
  }

  &_toast {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(.8);
    color: #fff;
    background: $color-bg-popup;
    box-shadow: 0 1px 20px 1px rgba(0,0,0,.3);
    opacity: 0;
    user-select: none;
    pointer-events: none;
    z-index: 3;
    transition: opacity .2s ease, transform .2s ease;

    &-active {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &_progress {
    position: absolute;
    left: $size-bottom-padding;
    right: $size-bottom-padding;
    bottom: $size-progress-bar-bottom;
    cursor: pointer;

    &_dot {
      top: $size-dot / -2 + 2px;
    }

    &_bar_wrapper {
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      background: $color-white-low;
    }

    &_played {
      background: $color-primary;
      background: var(--rplayer-primary);
      transform: scaleX(0);
      will-change: transform;
    }

    &_buf {
      background: $color-white-half;
    }

    &_hover {
      opacity: 0;
      background: $color-white-half;
    }

    &_pad {
      top: -8px;
      height: 16px;
      touch-action: none;
    }

    &:hover .rplayer_progress_hover {
      opacity: 1;
    }
    &:active .rplayer_progress_hover {
      opacity: 0;
    }

    &:hover .rplayer_thumb,
    &:active .rplayer_thumb {
      opacity: 1;
      transform: translate(-50%, 0) scale(1);
    }

    &:hover &_bar_wrapper,
    &:active &_bar_wrapper{
      transform: scaleY(1.3);
    }

    &:hover &_dot::after, 
    &:active &_dot::after{
      transform: scale(1);
    }
  }

  &_thumb {
    position: absolute;
    left: 0;
    bottom: $size-thumbnail-bottom;
    font-size: 12px;
    opacity: 0;
    transform: translate(-50%, 15px) scale(.8);
    transition: $transition-tip;
    text-align: center;
    pointer-events: none;
    z-index: 1;

    &_time {
      margin-top: 10px;
      text-shadow: $shadow-text-time;
    }

    &_img {
      border-radius: 2px;
      border: 1px solid $color-white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color: $color-white-half;
      background-repeat: no-repeat;
    }
  }

  &_tray {

    &_volume {
      display: flex;
      align-items: center;

      @include respond(phone) {
        display: none;
      }

      &_progress {
        position: relative;
        width: 60px;
        margin-left: 3px;
        margin-right: 6px;
        padding: 4px 0;
        cursor: pointer;

        &:hover {
          .rplayer_tray_volume_dot::after {
            transform: scale(1);
          }
        }
      }

      &_bar {
        background: $color-white-high;

        &_wrapper {
          position: relative;
          height: 4px;
          border-radius: 3px;
          background: $color-white-low;
          overflow: hidden;
        }
      }

      &_dot {
        top: 0;

        &::after {
          background: $color-white-high;
        }
      }
    }

    &_time {
      font-size: 13px;
      margin-left: 8px;
      margin-right: auto;
      margin-top: -1px;
      text-shadow: $shadow-text-time;
      white-space: nowrap;
      letter-spacing: 1px;

      :first-child::after {
        content: '/';
        display: inline-block;
        font-size: 12px;
        margin: 0 5px;
        transform: translateY(-0.5px);
      }
    }
  }

  &_caption {
    position: absolute;
    left: 50%;
    bottom: 60px;
    max-width: 90%;
    padding: 2px 5px;
    font-size: 22px;
    color: #fff;
    background: rgba(8, 8, 8, .75);
    opacity: 0;
    transform: translateX(-50%);
    user-select: none;
    touch-action: none;
    cursor: default;
    word-break: break-all;
    z-index: 1;

    &-active {
      opacity: 1;
    }
  }

  &_setting {
    &-active {
      background: $color-primary !important;
      background: var(--rplayer-primary) !important;

      .rplayer_tray_icon {
        transform: rotate(90deg);
      }

      .rplayer_tray_tip {
        opacity: 0 !important;
      }
    }

    &_item {
      display: flex;
      align-items: center;
      padding: 8px 20px;
      justify-content: space-between;

      &-nobg:hover {
        background: transparent !important;
      }

      &:hover {
        background: $color-bg-popup-item-hover;
      }

      :first-child {
        padding-right: 50px;
        margin-right: auto;
      }
    }

    &_menu {
      will-change: width, height;

      &_page {
        & &_back {
          justify-content: flex-start;
          border-bottom: 1px solid $color-bg-popup-item-hover;

          &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            margin-right: 21px;
            border: 4px solid transparent;
            border-right-color: $color-white;
          }
        }
      }

      &_select {
        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          margin-left: 10px;
          border: 4px solid transparent;
          border-left-color: $color-white;
        }
      }
    }

    &_select {
      &_opt {
        position: relative;
        justify-content: flex-start;

        &::before {
          content: '';
          display: block;
          opacity: 0;
          height: 5px;
          width: 12px;
          border: 1px solid $color-white;
          border-top-color: transparent;
          border-right-color: transparent;
          margin-right: 15px;
          margin-top: -5px;
          transform: rotate(-45deg);
        }

        &-active {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  &_checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: color .2s ease;

    &::before {
      content: '';
      display: block;
      width: 1em;
      height: 1em;
      border: 1px solid currentColor;
      border-radius: 2px;
      margin-right: 5px;
      transition: background .2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      left: 0.5em;
      top: 50%;
      width: 4px;
      height: 7px;
      border: 1px solid #fff;
      border-top: 0;
      border-left: 0;
      transform: translate(-30%, -70%) rotate(45deg);
    }

    &:hover {
      color: $color-green;
      color: var(--rplayer-primary);
    }

    &-active {
      &::before {
        background: $color-green;
        background: var(--rplayer-primary);
        border-color: $color-green;
        border-color: var(--rplayer-primary);
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &_pop {
    position: absolute;
    bottom: 100%;
    right: 0;
    border-radius: $size-popup-radius;
    margin-bottom: $size-tip-mb;
    font-size: 14px;
    background: $color-bg-popup;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(10px);
    z-index: 2;
    box-shadow: 0 1px 20px 1px rgba(0,0,0,.2);
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease, height .2s cubic-bezier(.4,0,.2,1),width .2s cubic-bezier(.4,0,.2,1);
    overflow: hidden;

    &-active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  & &_tray {
    position: relative;
    display: inline-block;
    padding: 7px;
    border-radius: 3px;
    transition: background .3s ease;
    font-size: 0;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: $color-primary;
      background: var(--rplayer-primary);
    }

    &-nobg:hover {
      background: transparent !important;
    }

    &-disable .rplayer_tray_icon {
      opacity: .5;
    }

    &:hover .rplayer_tray_tip {
      opacity: 1;
      transform: translate(-50%, 0);
    }

    &:hover .rplayer_tray_tip-l, &:hover .rplayer_tray_tip-r{
      transform: translate(0, 0);
    }

    &_icon {
      display: inline-block;
      transition: transform .2s ease;
    }

    &_tip {
      position: absolute;
      left: 50%;
      bottom: 100%;
      font-size: 12px;
      margin-bottom: $size-tip-mb;
      padding: $padding-popup;
      border-radius: $size-popup-radius;
      white-space: nowrap;
      background: $color-bg-popup;
      transform: translate(-50%, 10px) scale(.8);
      transform-origin: 50% 100%;
      pointer-events: none;
      opacity: 0;
      transition: $transition-tip;

      &-l {
        left: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 0 100%;
      }

      &-r {
        left: auto;
        right: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 100% 100%;
      }
    }
  }

  &_switch {
    display: inline-block;
    width: 36px;
    padding: 2px;
    border-radius: 12px;
    background: $color-white-low;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1);
    cursor: pointer;
    user-select: none;

    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $color-white;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,.14), 0px 1px 3px 0px rgba(0,0,0,.12);
      transition: transform .15s cubic-bezier(.4, 0, .2, 1);
    }

    &-small {
      width: 30px !important;
      border-radius: 10px !important;

      &::after {
        width: 15px !important;
        height: 15px !important;
      }
    }

    &-active {
      background: $color-green;
      background: var(--rplayer-switch);

      &::after {
        transform: translateX(16px);
      }
    }
  }

  &_slider {
    display: inline-block;
    flex: 1;
    position: relative;
    padding: 5px 0;
    font-size: 12px;
    cursor: pointer;
    user-select: none;

    &_wrap {
      height: 4px;
      background: $color-white-high;
    }

    &_bar {
      height: 100%;
      transform-origin: 0 0;
    }

    &_bar, &_dot {
      background: $color-white;
      background: var(--rplayer-primary);
    }

    &_tip, &_dot, &_stop {
      position: absolute;
      pointer-events: none;
    }

    &_tip {
      top: -150%;
      padding: 1px 3px;
      border-radius: 3px;
      color: #fff;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      transform: scale(.8) translateY(8px) translateX(-50%);
      transform-origin: 0;
      transition: $transition-tip;
    }

    &_stop {
      top: -100%;
      color: $color-white-high;
      text-shadow: #000 1px 1px 2px, #000 0 0 1px;
      transform: translateX(-50%);

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 3px;
        height: 60%;
        background: currentColor;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
      }
    }

    &_dot {
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover &_tip {
      transform: scale(1) translateY(0) translateX(-50%);
      opacity: 1;
    }

  }

}

@keyframes rplayer-loading {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}
