.Container {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 12rem 0;
}

.Title {
  margin-bottom: 30px;
  font-size: var(--ifm-font-size-36);
  color: var(--ifm-color-on-background);
  font-weight: bold;
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
