.Container {
  background-color: var(--ifm-color-background-2);
  transform: skewY(-2deg);
  padding: 8rem 0;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  transform: skewY(2deg);
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
