.MouseContainer {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 40px;
  z-index: 1;
}

.Mouse {
  width: 25px;
  height: 45px;
  border: 2px solid var(--ifm-color-on-background-2);
  border-radius: 15px;
  position: relative;
  text-align: center;
}

.MouseWheel {
  position: relative;
  display: block;
  height: 6px;
  margin: 2px auto 0;
  width: 4px;
  background-color: var(--ifm-color-on-background-2);
  border-radius: 50%;
  -webkit-animation: wheel-up-down ease 1.6s infinite;
  animation: wheel-up-down ease 1.6s infinite;
}

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
  }
}