.rplayer_dan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  font-family: SimHei, "Microsoft JhengHei", Arial, Helvetica, sans-serif;

  &_pop {
    padding: 5px 8px;
    font-size: 12px;
  }

  &_mbs {
    margin-bottom: 3px;
  }

  &_onoff {
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 8px;
    }
  }

  &_send {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;
    background: rgba(255, 255, 255, .15);

    .rplayer_tray {
      padding: 5px;
    }

    .rplayer_pop  {
      color: #fff;
    }

    svg {
      fill: currentColor;
    }

    &_type {
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 15px;

      > div {
        margin-right: 8px;
        padding: 2px 8px;
        border: 1px solid rgba(255, 255, 255, .5);
        transition: opacity .2s ease;
      }

      > div:hover {
        opacity: .7;
      }

      &-active {
        background: rgba(255, 255, 255, .3);
      }
    }

    input {
      flex: 1;
      width: 100px;
      padding: 0;
      color: currentColor;
      background: transparent;
      border: 0;
      outline: 0;

      &::placeholder {
        color: rgba(255, 255, 255, .5);
      }
    }

    &_color {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5px;

      > div {
        width: 1.7em;
        height: 1.7em;
        margin-right: 8px;
        margin-bottom: 8px;
        box-shadow: 0 0 1px 1px currentColor;
        transition: opacity .2s ease;
      }

      > div:hover {
        opacity: .7;
      }

      &-active {
        outline: 2px dotted currentColor;
      }
    }
  }

  &_setting {
    &_slider {
      display: flex;
      align-items: center;
      margin: 15px 0;
      padding-right: 5px;

      > :first-child {
        margin-right: 8px;
      }

      > :last-child {
        min-width: 160px;
      }
    }

    &_item {
      margin: 10px 0;
    }

    &_check {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > * {
        margin-right: 10px;
      }

      > :last-child {
        margin-right: 0;
      }
    }

    &_reset {
      padding: 2px 5px;
      border: 1px solid rgba(255, 255, 255, .5);
      transition: color .2s ease, opacity .2s ease;

      &:hover {
        border-color: var(--rplayer-primary);
        color: var(--rplayer-primary);
        opacity: .8;
      }
    }
  }

  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_d {
    position: absolute;
    user-select: none;
    white-space: nowrap;
    will-change: transform;
    font-weight: bold;
    line-height: 1.125;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 1px 0px 1px, rgb(0, 0, 0) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px, rgb(0, 0, 0) -1px 0px 1px;
    perspective: 1000px;
    backface-visibility: hidden;

    &-me {
      border: 1px solid;
      padding: 0 1px;
    }

    &-center {
      left: 50%;
      transform: translateX(-50%);
      will-change: auto;
    }
  }

  &_tray {
    &-active {
      background: #448AFF !important;
      background: var(--rplayer-primary) !important;

      .rplayer_tray_tip {
        opacity: 0 !important;
      }
    }
  }
}
