.Text {
  font-size: 12px;
  color: var(--ifm-color-on-background-2);
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.Img {
  border-radius: 15px;
  cursor: pointer;
}

.Container {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .Container {
    margin-left: 0;
  }
}
