$color-primary: #448AFF;
$color-white: #fff;
$color-bg-popup: rgba(0, 0, 0, .7);
$color-bg-popup-item-hover: rgba(255, 255, 255, .2);
$color-bg-bottom-mask: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
$color-white-low: rgba(255, 255, 255, .3);
$color-white-half: rgba(255, 255, 255, .5);
$color-white-high: rgba(255, 255, 255, .8);

$shadow-text-time: 0 0 2px rgba(0,0,0,.3);

$size-dot: 12px;
$size-action-icon: 18px;
$size-bottom-mask-top: 55%;
$size-progress-bar-bottom: 50px;
$size-bottom-padding: 7px;
$size-tip-mb: 15px;
$size-action-gap: 3px;
$size-popup-radius: 3px;
$size-thumbnail-bottom: 10px;

$padding-popup: 5px 10px;

$transition-tip: transform .2s .1s ease,opacity .2s .1s ease;
