@import './variables';

.rplayer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-font;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;

  [hidden] {
    display: none;
  }

  video {
    max-width: 100%;
  }

  button {
    font: inherit;
    line-height: inherit;
    color: inherit;
    width: auto;
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    overflow: visible;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  svg {
    width: $size-action-icon;
    height: $size-action-icon;
    fill: $color-font;
  }

  &_icon {
    &_play, &_exit_fullscreen {
      display: none;
    }
  }

  &-paused {
    .rplayer_icon_pause {
      display: none;
    }
    .rplayer_icon_play {
      display: block;
    }
  }

  &-full {
    video {
      width: 100%;
    }

    .rplayer_icon_exit_fullscreen {
      display: block;
    }
    .rplayer_icon_enter_fullscreen {
      display: none;
    }
  }

  &_switch {
    width: 36px;
    height: 21px;
    padding: 2px;
    border-radius: 12px;
    background: $color-bg-switch;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: $color-font;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1), background-color .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &-active {
      &::after {
        background: $color-primary;
        transform: translateX(15px);
      }
    }
  }

  &_controls {

    &-hide {
      cursor: none;
    }

    &-hide &_bottom, &-hide &_bottom_mask {
      opacity: 0;
    }

    &_mask {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      pointer-events: none;
    }

    &-hide &_mask {
      pointer-events: auto;
    }

    &_bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: $size-bottom-padding;
      transition: opacity .2s ease;
      z-index: 2;
      user-select: none;

      &_mask {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: $size-bottom-mask-top;
        min-height: 55px;
        background: $color-bg-bottom-mask;
        pointer-events: none;
        transition: opacity .2s ease;
      }

      &_actions {
        display: flex;
        align-items: center;

        & > * {
          margin-left: $size-action-gap;
        }

        & > :first-child {
          margin-left: 0;
        }
      }
    }
  }

  &_bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-origin: 0 0;
  }

  &_dot {
    position: absolute;
    left: $size-dot / -2;
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      width: $size-dot;
      height: $size-dot;
      border-radius: 50%;
      background: $color-primary;
      transform: scale(0);
      transition: transform .15s ease;
    }
  }

  &_progress {
    position: absolute;
    left: $size-bottom-padding;
    right: $size-bottom-padding;
    bottom: $size-progress-bar-bottom;
    cursor: pointer;

    &_dot {
      top: $size-dot / -2 + 2px;
    }

    &_bar_wrapper {
      position: absolute;
      left: 0;
      right: 0;
      height: 4px;
      background: $color-bg-progress;
    }

    &_played {
      background: $color-primary;
      transform: scaleX(0);
      will-change: transform;
    }

    &_buf {
      background: $color-bg-progress-buf;
    }

    &_pad {
      top: -8px;
      height: 16px;
      touch-action: none;
      z-index: 2;
    }

    &:hover .rplayer_thumbnail,
    &:active .rplayer_thumbnail {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    &:hover &_bar_wrapper,
    &:active &_bar_wrapper{
      transform: scaleY(1.3);
    }

    &:hover &_dot::after, 
    &:active &_dot::after{
      transform: scale(1);
    }
  }

  &_thumbnail {
    position: absolute;
    left: 0;
    bottom: $size-thumbnail-bottom;
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px) scale(.8);
    transition: $transition-tip;
    pointer-events: none;

    &_time {
      text-shadow: $shadow-text-time;
      transform: translateX(-50%);
    }
  }

  &_action {

    &_volume {
      display: flex;
      align-items: center;

      .rplayer_icon_muted {
        display: none;
      }

      &_icon {
        &-muted {
          .rplayer_icon_muted {
            display: block;
          }
          .rplayer_icon_volume {
            display: none;
          }
        }
      }

      &_progress {
        position: relative;
        width: 60px;
        margin-left: 3px;
        margin-right: 6px;
        padding: 4px 0;
        cursor: pointer;

        &:hover {
          .rplayer_action_volume_dot::after {
            transform: scale(1);
          }
        }
      }

      &_bar {
        background: $color-bg-volume-progress-bar;

        &_wrapper {
          position: relative;
          height: 4px;
          border-radius: 3px;
          background: $color-bg-volume-progress;
          overflow: hidden;
        }
      }

      &_dot {
        top: 0;

        &::after {
          background: $color-bg-volume-progress-bar;
        }
      }
    }

    &_time {
      font-size: 13px;
      margin-left: 8px;
      margin-right: auto;
      margin-top: -1px;
      text-shadow: $shadow-text-time;
      white-space: nowrap;

      :first-child::after {
        content: '/';
        display: inline-block;
        font-size: 12px;
        margin: 0 5px;
        transform: translateY(-0.5px);
      }
    }

    &_setting {
      svg {
        transition: transform .2s ease;
      }

      &-active {
        background: $color-primary !important;

        svg {
          transform: rotate(90deg);
        }

        .rplayer_tooltip_text {
          opacity: 0 !important;
        }

        .rplayer_settings_menu {
          opacity: 1;
          transform: translateY(0);
          pointer-events: initial;
        }

        .rplayer_action_setting_mask {
          display: block;
        }
      }

      &_mask {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        cursor: initial;
      }
    }
  }

  & &_tray {
    padding: 7px;
    border-radius: 3px;
    transition: background .3s ease;
    font-size: 0;

    &:hover {
      background: $color-primary;
    }
  }

  &_tooltip {
    position: relative;
    display: inline-block;

    &:hover &_text{
      opacity: 1;
      transform: translate(-50%, 0);
    }

    &:hover &_text-left, &:hover &_text-right{
      transform: translate(0, 0);
    }

    &_text {
      position: absolute;
      left: 50%;
      bottom: 100%;
      font-size: 12px;
      margin-bottom: $size-tip-mb;
      padding: $padding-popup;
      border-radius: $size-popup-radius;
      white-space: nowrap;
      background: $color-bg-popup;
      transform: translate(-50%, 10px) scale(.8);
      transform-origin: 50% 100%;
      pointer-events: none;
      opacity: 0;
      transition: $transition-tip;

      &-left {
        left: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 0 100%;
      }

      &-right {
        left: auto;
        right: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 100% 100%;
      }
    }
  }

  &_settings {
    &_menu {
      position: absolute;
      bottom: 100%;
      right: 0;
      border-radius: $size-popup-radius;
      margin-bottom: $size-tip-mb;
      font-size: 14px;
      background: $color-bg-popup;
      white-space: nowrap;
      opacity: 0;
      transform: translateY(10px);
      z-index: 5;
      pointer-events: none;
      transition: opacity .2s ease, transform .2s ease, height .2s cubic-bezier(.4,0,.2,1),width .2s cubic-bezier(.4,0,.2,1);
      overflow: hidden;
      will-change: width, height;

      &_page {
        & &_back {
          padding-left: 49px;
          border-bottom: 1px solid $color-bg-popup-item-hover;

          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 20px;
            border: 4px solid transparent;
            border-right-color: $color-font;
          }
        }
      }

      &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;

        &:hover {
          background: $color-bg-popup-item-hover;
        }

        :first-child {
          padding-right: 50px;
        }
      }

      &_radio {
        padding-right: 35px;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          right: 15px;
          border: 4px solid transparent;
          border-left-color: $color-font;
        }
      }
    }

    &_radio {
      &_option {
        position: relative;
        justify-content: flex-start;

        &::before {
          content: '';
          opacity: 0;
          height: 5px;
          width: 12px;
          border: 1px solid $color-font;
          border-top-color: transparent;
          border-right-color: transparent;
          margin-right: 15px;
          margin-top: -5px;
          transform: rotate(-45deg);
        }

        &-active {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

}
