.rplayer {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Microsoft JhengHei', 'Microsoft YaHei', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;

  [hidden] {
    display: none;
  }

  video {
    max-width: 100%;
  }

  button {
    font: inherit;
    line-height: inherit;
    color: inherit;
    width: auto;
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    overflow: visible;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #fff;
  }

  &_switch {
    width: 36px;
    height: 21px;
    padding: 2px;
    border-radius: 12px;
    background: rgba(255,255,255,.3);
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
      transition: transform .15s cubic-bezier(0.4, 0, 0.2, 1), background-color .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &-active {
      &::after {
        background: #00b3ff;
        transform: translateX(15px);
      }
    }
  }

  &_controls {

    &-hide {
      cursor: none;
    }

    &-hide &_bottom {
      opacity: 0;
    }

    &_bottom {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .3);
      transition: opacity .2s ease;
      z-index: 2;
      user-select: none;

      &_actions {
        display: flex;
        align-items: center;

        & > * {
          margin-left: 3px;
        }

        & > :first-child {
          margin-left: 0;
        }
      }
    }

    &_tc {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: rgba(0, 0, 0, .5);
      opacity: 0;
      transition: opacity .2s ease;

      &-show {
        opacity: 1;
      }

      &_mask {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  &_bar {
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
  }

  &_dot {
    position: absolute;
    pointer-events: none;

    &::after {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: green;
      transform: scale(0);
      transition: transform .15s ease;
    }
  }

  &_progress {
    position: absolute;
    left: 0;
    bottom: 41px;
    width: 100%;
    cursor: pointer;

    &_dot {
      left: -6.5px;
      top: -4px;
    }

    &_bar_wrapper {
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background: rgba(0, 0, 0, .2);
    }

    &_bar {
      position: absolute;
      left: 0;
      bottom: 0;
    }

    &_played {
      position: relative;
      background: red;
      transform: scaleX(0);
      will-change: transform;
    }

    &_pad {
      height: 16px;
      touch-action: none;
      z-index: 2;
    }

    &_hover {
      width: 50%;
      background: rgba(0, 0, 0, .2);
    }

    &:hover &_bar_wrapper,
    &:active &_bar_wrapper{
      transform: scaleY(1.3);
    }

    &:hover &_dot::after, 
    &:active &_dot::after{
      transform: scale(1);
    }
  }

  &_action {

    &_volume {
      display: flex;
      align-items: center;

      .rplayer_icon_muted {
        display: none;
      }

      &_icon {
        &-muted {
          .rplayer_icon_muted {
            display: block;
          }
          .rplayer_icon_volume {
            display: none;
          }
        }
      }

      &_progress {
        position: relative;
        width: 60px;
        margin-left: 3px;
        margin-right: 6px;
        padding: 4px 0;
        cursor: pointer;

        &:hover {
          .rplayer_action_volume_dot::after {
            transform: scale(1);
          }
        }
      }

      &_bar {
        background: rgba(255,255,255,.8);

        &_wrapper {
          height: 4px;
          border-radius: 3px;
          background: rgba(255,255,255,.3);
          overflow: hidden;
        }
      }

      &_dot {
        top: 0;
        left: -6px;

        &::after {
          width: 12px;
          height: 12px;
          background: rgba(255,255,255,.8);
        }
      }
    }

    &_time {
      font-size: 13px;
      margin-left: 8px;
      margin-right: auto;
      margin-top: -1px;
      text-shadow: 0 0 2px rgba(0,0,0,.3);

      :first-child::after {
        content: '/';
        display: inline-block;
        font-size: 12px;
        margin: 0 5px;
        transform: translateY(-0.5px);
      }
    }

    &_setting {
      svg {
        transition: transform .2s ease;
      }

      &-active {
        background: #00b3ff !important;

        svg {
          transform: rotate(90deg);
        }

        .rplayer_tooltip_text {
          opacity: 0 !important;
        }

        .rplayer_settings_menu {
          opacity: 1;
          transform: translateY(0);
          pointer-events: initial;
        }

        .rplayer_action_setting_mask {
          display: block;
        }
      }

      &_mask {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
        cursor: initial;
      }
    }

    &_fullscreen {
      .rplayer_icon_exit_fullscreen {
        display: none;
      }

      &-active {
        .rplayer_icon_exit_fullscreen {
          display: block;
        }
        .rplayer_icon_enter_fullscreen {
          display: none;
        }
      }
    }
  }

  & &_tray {
    padding: 7px;
    border-radius: 3px;
    transition: background .3s ease;
    font-size: 0;

    &:hover {
      background: #00b3ff;
    }
  }

  &_tooltip {
    position: relative;
    display: inline-block;

    &:hover &_text{
      opacity: 1;
      transform: translate(-50%, 0);
    }

    &:hover &_text-left, &:hover &_text-right{
      transform: translate(0, 0);
    }

    &_text {
      position: absolute;
      left: 50%;
      bottom: 100%;
      font-size: 12px;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 3px;
      white-space: nowrap;
      background: rgba(0, 0, 0, .7);
      transform: translate(-50%, 10px) scale(.8);
      transform-origin: 50% 100%;
      pointer-events: none;
      opacity: 0;
      transition: transform .2s .1s ease,opacity .2s .1s ease;

      &-left {
        left: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 0 100%;
      }

      &-right {
        left: auto;
        right: 0;
        transform: translate(0,10px) scale(.8);
        transform-origin: 100% 100%;
      }
    }
  }

  &_settings {
    &_menu {
      position: absolute;
      bottom: 100%;
      right: 0;
      border-radius: 3px;
      margin-bottom: 10px;
      font-size: 14px;
      background: rgba(0,0,0,.7);
      white-space: nowrap;
      opacity: 0;
      transform: translateY(10px);
      z-index: 5;
      pointer-events: none;
      transition: opacity .2s ease, transform .2s ease, height .2s cubic-bezier(.4,0,.2,1),width .2s cubic-bezier(.4,0,.2,1);
      overflow: hidden;
      will-change: width, height;

      &_page {
        & &_back {
          padding-left: 49px;
          border-bottom: 1px solid rgba(255, 255, 255, .2);

          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: 20px;
            border: 4px solid transparent;
            border-right-color: #fff;
          }
        }
      }

      &_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 20px;

        &:hover {
          background: rgba(255, 255, 255, .2);
        }

        :first-child {
          padding-right: 50px;
        }
      }

      &_radio {
        padding-right: 35px;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          right: 15px;
          border: 4px solid transparent;
          border-left-color: #fff;
        }
      }
    }

    &_radio {
      &_option {
        position: relative;
        justify-content: flex-start;

        &::before {
          content: '';
          opacity: 0;
          height: 5px;
          width: 12px;
          border: 1px solid #fff;
          border-top-color: transparent;
          border-right-color: transparent;
          margin-right: 15px;
          margin-top: -5px;
          transform: rotate(-45deg);
        }

        &-active {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

}
