.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-bottom: 30px;
}

.featureText {
  min-width: 300px;
  margin: 0 20px;
  flex: 1;
}

.featureTitle {
  font-size: 26px;
  margin: 20px 0;
  color: var(--ifm-color-primary-lightest);
}

.featureImgContainer {
  min-width: 300px;
  flex: 1;
}

.Container {
  background-color: var(--ifm-color-background-2);
  transform: skewY(-2deg);
  padding: 8rem 0;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  transform: skewY(2deg);
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
