.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImgContainer {
  height: 200px;
  text-align: center;
}

.featureImage {
  max-height: 200px;
}

.Container {
  background-color: var(--ifm-color-background-2);
  transform: skewY(-2deg);
  padding: 8rem 0;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  transform: skewY(2deg);
}

@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
