.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: var(--ifm-container-width);
  margin: 0 auto;
  padding: 12rem 0;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImgContainer {
  height: 200px;
  text-align: center;
}

.featureImage {
  max-height: 200px;
}


@media (max-height: 800px) and (max-width: 768px) {
  .Container {
    padding: 4em 0 !important;
  }
}
